<div class="col-md-12 viewMaterial">
  <div ng-show="new==true">
    <h2> nieuw materiaal </h2>
  </div>

  <form>
    <div class="col-md-10" style="padding-left: 0; padding-bottom: 5px;">
    <input ng-model="title" placeholder="titel" type="text">
    </div>
    <div class="col-md-2" style="text-align: right">
      <div ng-show="new==false">
        <i style="color: black" class="fa fa-lg"
          ng-class="{
                'fa-star-o': favorited==false,
                'fa-star' : favorited==true
              }"
          ng-click="toggleFavorite()"></i>
        <a ng-show="material.original" href="#/material/{{material.original}}"><button class="btn btn-primary">Origineel</button></a>
        <a href="#/material/0"><button class="btn btn-primary">Nieuw</button></a>
      </div>
    </div>
    <br>
    <textarea ng-model="description"></textarea>
    <br>
    <div ng-show="new==true">
      <label> Type </label>
      <br>
      <select ng-disabled="new==false" ng-model="selectedType" id="selectedType" >
        <option value="{{type}}" ng-repeat="type in materialTypes">
          {{type}}
        </option>
      </select>
    </div>
    <div ng-show="new==false">
      <span> Type: {{material.type}}</span>
    </div>

    <div ng-show="new==true">
      <button ng-disabled="title=='' || description=='' || selectedType==''" ng-click="upload()" class="saveButton btn btn-success">Uploaden</button>
    </div>
    <div ng-show="new==false">
      <button ng-disabled="title=='' || description=='' || selectedType==''" ng-click="edit()" class="saveButton btn btn-success">Bewerken</button>
    </div>
  </form>

  <div class="alert alert-success" ng-show="message">
    {{message}}
  </div>
</div>
<br><br>
<div class="col-md-12 materialSummary" ng-show="new==false">
  <ul class="nav nav-tabs">
    <li ng-model="materialTab" ng-click="materialTab = 'overview'" role="presentation" ng-class="{active : materialTab=='overview'}"><a>Samenvatting</a></li>
    <li ng-model="materialTab" ng-click="materialTab = 'comments'" role="presentation" ng-class="{active : materialTab=='comments'}"><a>Reacties ({{material.comments.length}})</a></li>
    <li ng-model="materialTab" ng-click="materialTab = 'clones'" role="presentation" ng-class="{active : materialTab=='clones'}"><a>Clones ({{materialClones.length}})</a></li>
  </ul>
  <div class="tabContent">
    <div ng-show="materialTab=='overview'">
      <h3> Samenvatting </h3>
      <p>
        <span>{{randomViews}} weergaven</span>
        <br>
        <span>{{randomLikes}} likes </span>
        <br>
        <span>{{material.comments.length}} reacties</span>
        <br>
        <span>{{material.description}}</span>
      </p>
    </div>

    <div ng-show="materialTab=='comments'">
      <h3> Reacties </h3>
      <div ng-show="new==false">
        <div ng-repeat="comment in material.comments">
          <span>{{comment.description}}. door: <a href="#/user/{{comment.author}}">{{comment.authorName}}</a></span>
          <hr>
        </div>
        <span ng-hide="material.comments[0]">Nog geen reacties. </span>
        <form>
          <textarea ng-model="commentDescription"></textarea>
          <button ng-disabled="commentDescription==''" ng-click="comment()" class="btn btn-success">Reageer</button>
        </form>
        <div class="alert alert-success" ng-show="commentMessage">
          {{commentMessage}}
        </div>
      </div>
    </div>

    <div ng-show="materialTab=='clones'">
      <h3> Clones</h3>
      <div ng-show="materialClones[0]">
        <div ng-repeat="version in materialClones">
          <span><a href="#/material/{{version._id}}"><i class="fa fa-edit"></i></a>{{version.title}}, {{version.description}}, {{version.publishdate}}</span>
          <a href="#/user/{{version.author}}">door {{version.authorName}}</a>
          <hr>
        </div>
      </div>
      <div ng-hide="materialClones[0]">
        <span> Nog geen clones gemaakt </span>
      </div>
    </div>

  </div>
</div>
