<div class="col-lg-3 myAccountPanel">
  <h2>{{user.name}}</h2>
  <img src="{{user.profilePicture}}">
  <br><br>
  <span>Leeftijd: {{user.age}}</span>
  <br>
  <span>Geslacht: {{user.gender}}</span>
  <br><br>
  <span ng-show="user.school">School: {{user.school}}</span>
  <br>
  <span>123 likes (statisch)</span>
  <hr>
  <button ng-click="tab='lesson'" class="btn">Mijn lessen</button>
  <button ng-click="tab='material'" class="btn">Mijn materiaal</button>
  <button ng-click="tab='comment'" class="btn">Mijn reacties</button>
  <button ng-click="tab='contribution'" class="btn">Mijn bijdrage</button>
</div>

<div class="col-lg-9">
  <div class="col-lg-4">
    <h2>Items</h2>
  </div>
  <div class="col-lg-8 searchDiv">
    <div>
      <input type="text" placeholder="search">
    </div>
  </div>

  <div class="col-lg-12">
    <div ng-show="tab=='lesson'">
      <h2>Lessen</h2>
      <div class="col-lg-3 nopadding">
        Mappenstructuur
      </div>
      <div class="col-lg-9">
        Lesseninhoud
      </div>

    </div>
    <div ng-show="tab=='material'">
      <h2>Materiaal</h2>
      <a href="#/material/0"<button class="btn btn-success">Nieuw materiaal</button></a>
      <div ng-repeat="material in myMaterial" class="col-lg-12">
        <h4>{{material.title}}</h4>
        <span>Type: {{material.type}}, likes: {{material.likes}}, views: {{material.views}}</span>
        <span>door: {{material.author}}</span>
      </div>
    </div>
    <div ng-show="tab=='comment'">
      <h2>Reacties</h2>
    </div>
    <div ng-show="tab=='contribution'">
      <h2>Bijdrage</h2>
    </div>

  </div>
</div>
